@using ELearningBlazor.Utils

<a href="/">
    <img src="@ImageHelper.GetImagePath("images/logo/logo.svg")"
         alt="logo"
         width="160"
         height="50"
         style="width: auto; height: auto;" />
</a>