@using ELearningBlazor.Services
@using ELearningBlazor.Models
@using ELearningBlazor.Utils

<section class="text-center">
    <div class="container mx-auto lg:max-w-screen-xl md:max-w-screen-md px-4">
        <h2 class="text-midnight_text text-2xl font-semibold">Trusted by companies of all sizes</h2>
        <div class="py-14 border-b">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-8 items-center">
                @foreach (var company in companies)
                {
                    <div class="flex justify-center">
                        <img src="@ImageHelper.GetImagePath(company.ImgSrc)" alt="Company logo" width="116" height="36" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@code {
    private List<Company> companies = DataService.GetTrustedCompanies();
}