@using ELearningBlazor.Services
@using ELearningBlazor.Models
@using ELearningBlazor.Utils

<section class="bg-deepSlate" id="mentor">
    <div class="container mx-auto lg:max-w-screen-xl md:max-w-screen-md px-4 relative">
        <h2 class="text-midnight_text text-5xl font-semibold pb-8">Meet with our <br /> mentor.</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            @foreach (var mentor in mentors)
            {
                <div class="m-3 py-14 md:my-10 text-center">
                    <img src="@ImageHelper.GetImagePath(mentor.ImgSrc)" alt="@mentor.Name" width="182" height="182" class="rounded-full mx-auto" />
                    <h4 class="text-2xl font-bold pt-14">@mentor.Name</h4>
                    <h3 class="text-lg font-normal text-black/50 pt-4">@mentor.Profession</h3>
                </div>
            }
        </div>
    </div>
</section>

@code {
    private List<ELearningBlazor.Models.Mentor> mentors = DataService.GetMentors();
}